<%- include('partials/header') -%>

    <main class="container">
        <div class="row justify-content-center">
            <section class="col-6 mt-5">
                <!-- <% if (locals.messages.errors) { %>
                    <% messages.errors.forEach( el => { %>
                        <div class="alert alert-danger"><%= el.msg %></div>
                    <% }) %>    
                <% } %>
                <% if (locals.messages.info) { %>
                    <% messages.info.forEach( el => { %>
                        <div class="alert alert-info"><%= el.msg %></div>
                    <% }) %>    
                <% } %> -->
                <h2>Contact Tracing Investigation</h2>
                <p> <b> For potential acquisitions please give location in the 14 days prior to your symptoms starting. </b>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
                <form action="/contacttracing" method="POST">
                    <h5>Potential Acquisitons:</h5>
                    <div>
                        <label for="acquisitionCase">Known Case: </label>
                        <input type="text" name="acquisitionCase" id="acquisitionCase" placeholder="If you know case's name">
                        </div>
                    <div>
                    <label for="acquisition1">Location:</label>
                    <input type="text" name="acquisition1" id="acquisition1" >
                    </div>
                    <div>
                        <label for="acquisition2">Location:</label>
                        <input type="text" name="acquisition2" id="acquisition2" >
                        </div>
                        <BR></BR>

                        <!-- ADD OPTION TO ADD EXTRA ENTRIES -->
                    <div>
                        <h5>High Risk Contact Reporting:</h5>
                        <div>
                        <label for="contact1">Name:</label>
                        <input type="text" name="contact1" id="contact1">
                        <label for="contact1Tel">Phone Number:</label>
                        <input type="text" name="contact1Tel" id="contact1Tel">
                        </div>
                        <div>
                            <label for="contact2">Name:</label>
                            <input type="text" name="contact2" id="contact2">
                            <label for="contact2Tel">Phone Number:</label>
                            <input type="text" name="contact2Tel" id="contact2Tel">
                            </div>
                            <div>
                                <label for="contact3">Name:</label>
                                <input type="text" name="contact3" id="contact3">
                                <label for="contact3Tel">Phone Number:</label>
                                <input type="text" name="contact3Tel" id="contact3Tel">
                                </div>
                                <div>
                                    <label for="contact4">Name:</label>
                                    <input type="text" name="contact4" id="contact1">
                                    <label for="contact4Tel">Phone Number:</label>
                                    <input type="text" name="contact4Tel" id="contact4Tel">
                                    </div>
                    </div>
                    <br>
                    
<div>
    <button type="reset">Reset</button>
                    <button type="submit">Submit</button>
                </div>

                  </form>

            </section>
        </div>
    </main>

<%- include('partials/footer') -%>